/common/build-arcirk-Desktop_Qt_6_5_2_MSVC2019_64bit-Debug/
/.idea/
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.cfl
*.1cl
*.cgr
/.vs/
/arcirk_apps.pro.user
/build-price_checker-Android_Qt_6_5_2_Clang_armeabi_v7a-Debug/
/price_checker/price_checker.pro.user.e73d076
/price_checker/price_checker.pro.user
/build-price_checker-Desktop_Qt_6_5_2_MSVC2019_64bit-Debug/
/build-price_checker-Desktop_Qt_6_5_2_MSVC2019_64bit-Release/
/build-price_checker-Android_Qt_6_5_2_Clang_armeabi_v7a-Release/
/build-PriceChecker-Android_Qt_6_5_2_Clang_armeabi_v7a-Debug/
/build-PriceChecker-Android_Qt_6_5_2_Clang_armeabi_v7a-Release/
/build-PriceChecker-Desktop_Qt_6_5_2_MSVC2019_64bit-Debug/
/build-PriceChecker-Desktop_Qt_6_5_2_MSVC2019_64bit-Release/
/build-qbConsole-Desktop_Qt_6_5_2_MSVC2019_64bit-Debug/
/qbConsole/qbConsole.pro.user
/build-bAdmin-Desktop_Qt_6_5_2_MSVC2019_64bit-Debug/
/.idea/
/build-ProfileManager-Desktop_Qt_6_5_2_MSVC2019_64bit-Debug/
/build-bAdmin-Desktop_Qt_6_5_2_MSVC2019_64bit-Release/
/build-ProfileManager-Desktop_Qt_6_5_2_MSVC2019_64bit-Release/
/plugins/build-PluginTest-Desktop_Qt_6_5_2_MSVC2019_64bit-Debug/
/plugins/iplugin/build-aiplugin-Desktop_Qt_6_5_2_MSVC2019_64bit-Debug/
/plugins/iplugin/build-bankstatementsplugun-Desktop_Qt_6_5_2_MSVC2019_64bit-Debug/
/plugins/iplugin/build-bankstatementsplugun-Desktop_Qt_6_5_2_MSVC2019_64bit-Release/
/plugins/iplugin/build-iplugin-Desktop_Qt_6_5_2_MSVC2019_64bit-Debug/
/plugins/virtual/build-facelib-Desktop_Qt_6_5_2_MSVC2019_64bit-Debug/
/bAdmin/bAdmin.pro.user.31590f1
/ProfileManager/ProfileManager.pro.user.31590f1
/plugins/build-PluginGroups-Desktop_Qt_6_5_2_MSVC2019_64bit-Debug/
/plugins/iplugin/iplugin/debug/
/plugins/iplugin/iplugin/release/
/plugins/PluginGroups/PluginGroups.pro.user
/plugins/PluginTest/debug/
/plugins/PluginTest/release/
/tree_model/gui/araydialog.ui.bak
